body {
    height: 100%;
    width: 100%;
}

div.header {
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

h2.title { 
    width:100px;
    background-color:magenta;
    margin: 0px;
}

div.body {
    height: 80%;
    width: 100%;
    background-color:green;
}

div.body h2{
    margin:0;
}
div.section {

}

div.footer {
    height:150px;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

div.footer span{
    text-align: center;
}
