body {
    height: 100%;
    width:100%;
    margin:0;
    font-family:"Open Sans", Arial;
    overflow: scroll;
    min-width:900px;
    background-color: #333;
}

div.header {
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    height: 40px;
    overflow: scroll;
    min-width:900px;
}


div.header img.logo {
    height: 40px;
    margin-right:15px;
    padding-left:5px;
}

div.header img.navicon {
    height: 40px;
    width: 40px;
    margin-left: auto;
    background-image: url('/static/img/navicon.svg');
}

div.header img.navicon:hover {
    color:black;
}

div.header a {
    text-decoration: none;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}

h2.title { 
    margin: 0px;
}

div.body {
    height: 80%;
    overflow: scroll;
    min-width:900px;
}

div.body h2{
    margin:0;
}

div.section {
    height:700px;   
    padding-left:100px;
    padding-right:100px;
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
}

div.section div.base{
    height:80%;
    padding:25px;
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    width:100%;
}

div.section div.darkbox{
    background:rgba(0,0,0,.75);
    color:white;
}


div.section div.clearbox{
    background:rgba(0,0,0,.10);
    /*color:white;*/
}

div.section div.lightbox{
    background:rgba(255,255,255,.25);
    color:white;
}


div.section:nth-of-type(odd) {
    /*background-color: #333;*/
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #3498db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

div.section:nth-of-type(even) {
    background-color: #eee;
    color:#333;
}

div.section h2{
    padding-left:10px;
    padding-top:10px;
    font-size:50px;
    text-align: center;
    width: 100%;
}

div.section span{
    margin:10px;
    font-size:25px;
    text-align: center;
    width: 100%;
}

div.section div.subsection{
    text-align: center;
    width: 100%;
}

div.section div.searchsection{
    width:100%;
    display:flex;
}

div.section input.searchbox {
    width:100%;
    height:35px;
    font-size:15px;
}

div.section button.searchbutton {
    width:150px;
    height:41px;
    padding-bottom:0px;
    font-size:20px;
}

div.section button.searchbutton:hover {
    color:white;
}

div.section div.statelist {
    display:flex;
    width:100%;
}
div.section div.statelist ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-position: inside;
    height: 400px;
    width:100%;
}

div.section div.statelist ul li{
   list-style: none;
   display: inline-block;
   width:33%;
}

div.section div.statelist ul li a{
   background: transparent url('/static/img/map-marker.png') no-repeat left center;
   padding-left:20px;
   font-size:17px;
   color: rgb(22, 102, 175);
   text-decoration:none;
}

div.footer {
    height:150px;
    background-color:#333;

    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px;
}

div.footer div.copyright {
    width:100%;
    text-align: center;
    margin-top:25px;
}
div.footer a{
    color:white;
    text-decoration: none;
}

div.footer a:hover{
    color:grey;
}

div.footer div.links {
    width:50%;
    display:flex;
    flex-direction: column;
}

div.footer div.links a, 
div.footer div.links a h2{
    width:100%;
}

div.footer a.title {
    width:50%;
}

div.footer h2.title{
    font-size: 20px;
    float:left;
    width:10%;
}

div.footer h2.link{
    width:10%;
    font-size: 20px;
    margin:0px !important;
    text-align:right;
    justify-content: 
}

