body {
    height: 100%;
    width: 100%;
    margin:0;
}

div.header {
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding:10px;
}

div.header a{
    text-decoration: none;
    color: white;
}

h2.title { 
    width:100px;
    margin: 0px;
}

div.body {
    height: 80%;
    width: 100%;
}

div.body h2{
    margin:0;
}

div.section {
    height:500px;        
}

div.section:nth-of-type(even) {
    /*background-color: #333;*/
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #3498db); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
}

div.section:nth-of-type(odd) {
    background-color: #eee;
    color:#333;

}

div.section h2{
    padding-left:10px;
    padding-top:10px;
}

div.section span{
    margin:10px;
}

div.footer {
    height:150px;
    background-color:#333;

    color:white;
    display: flex;
    flex-direction: column;
    padding:10px;
}

div.footer span{
    text-align: center;
}
div.footer a{
    width:100%;
    color:white;
}
div.footer h2.title{
    font-size: 10px;
    float:left;
    width:10%;
}
div.footer h2.link{
    width:10%;
    font-size: 10px;
    float:right;
}
