<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Paine">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <img class="logo" src='/static/img/logo.svg'>
        <a href="#" ><h2 class="title">{{ title }}</h2></a>
        <img class="navicon" src='/static/img/navicon.svg' />
    </div>
    <div class="body">
        {% for block in blocks %}
        <div class="section">
            <h2>{{ block['title'] }}</h2>
            <span>{{ block['span1'] }}</span>
            {% if block['subtitle'] %}
            <div class='subsection'>
                <h4>{{ block['subtitle'] }}</h4>
                <span>{{ block['span2'] }}
            </div>
            {% endif %}
            {% if block['searchtext'] %}
            <div class='searchsection'>
                <input class="searchbox" type='text' placeholder="{{ block['searchtext'] }}" />
                <button class="searchbutton" >SEARCH</button>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
    <div class="footer">
        <a href="#" ><h2 class="title">{{ title }}</h2></a>
        <a href="#" ><h2 class="link">About</h2></a>
        <a href="#" ><h2 class="link">Contact</h2></a>
        <div class="copyright">
            <span>&copy;2017. All Rights Reserved.</span>
            <span>11 Test Ave<br>Test, Test 10001</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>  
</html>
