<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Paine">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" href="/static/img/{{ favicon }}">
    <link rel="shortcut icon" href="/static/img/{{ favicon }}">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <img class="logo" src='/static/img/logo.svg'>
        <a href="#" ><h2 class="title">{{ title }}</h2></a>
        <img class="navicon" src='/static/img/navicon.svg' />
    </div>
    <div class="body">
        {% for block in blocks %}
        {% if block['background'] %}
        <div class="section" style="
                background: url('/static/img/{{ block['background'] }}') center center no-repeat;
                background-size:cover;
                ">
        {% else %}
        <div class="section">
        {% endif %}
            <div class="base {{ block['class'] }}">
            <h2>{{ block['title'] }}</h2>
            <span>{{ block['span1'] }}</span>
            {% if block['subtitle'] %}
            <div class='subsection'>
                <h4>{{ block['subtitle'] }}</h4>
                <span>{{ block['span2'] }}
            </div>
            {% endif %}
            {% if block['searchtext'] %}
            <div class='searchsection'>
                <input class="searchbox" type='text' placeholder="{{ block['searchtext'] }}" />
                <button class="searchbutton" >SEARCH</button>
            </div>
            {% endif %}
            {% if block['statelist'] %}
            <div class='statelist'>
                <ul>
                    <li> <a href="/alabama" title="Rehabs in Alabama"> Alabama </a> </li>
                    <li> <a href="/alaska" title="Rehabs in Alaska"> Alaska </a> </li>
                    <li> <a href="/arizona" title="Rehabs in Arizona"> Arizona </a> </li>
                    <li> <a href="/arkansas" title="Rehabs in Arkansas"> Arkansas </a> </li>
                    <li> <a href="/california" title="Rehabs in California"> California </a> </li>
                    <li> <a href="/colorado" title="Rehabs in Colorado"> Colorado </a> </li>
                    <li> <a href="/connecticut" title="Rehabs in Connecticut"> Connecticut </a> </li>
                    <li> <a href="/delaware" title="Rehabs in Delaware"> Delaware </a> </li>
                    <li> <a href="/dc" title="Rehabs in District of Columbia"> District of Columbia </a> </li>
                    <li> <a href="/florida" title="Rehabs in Florida"> Florida </a> </li>
                    <li> <a href="/georgia" title="Rehabs in Georgia"> Georgia </a> </li>
                    <li> <a href="/hawaii" title="Rehabs in Hawaii"> Hawaii </a> </li>
                    <li> <a href="/idaho" title="Rehabs in Idaho"> Idaho </a> </li>
                    <li> <a href="/illinois" title="Rehabs in Illinois"> Illinois </a> </li>
                    <li> <a href="/indiana" title="Rehabs in Indiana"> Indiana </a> </li>
                    <li> <a href="/iowa" title="Rehabs in Iowa"> Iowa </a> </li>
                    <li> <a href="/kansas" title="Rehabs in Kansas"> Kansas </a> </li>
                    <li> <a href="/kentucky" title="Rehabs in Kentucky"> Kentucky </a> </li>
                    <li> <a href="/louisiana" title="Rehabs in Louisiana"> Louisiana </a> </li>
                    <li> <a href="/maine" title="Rehabs in Maine"> Maine </a> </li>
                    <li> <a href="/maryland" title="Rehabs in Maryland"> Maryland </a> </li>
                    <li> <a href="/massachusetts" title="Rehabs in Massachusetts"> Massachusetts </a> </li>
                    <li> <a href="/michigan" title="Rehabs in Michigan"> Michigan </a> </li>
                    <li> <a href="/minnesota" title="Rehabs in Minnesota"> Minnesota </a> </li>
                    <li> <a href="/mississippi" title="Rehabs in Mississippi"> Mississippi </a> </li>
                    <li> <a href="/missouri" title="Rehabs in Missouri"> Missouri </a> </li>
                    <li> <a href="/montana" title="Rehabs in Montana"> Montana </a> </li>
                    <li> <a href="/nebraska" title="Rehabs in Nebraska"> Nebraska </a> </li>
                    <li> <a href="/nevada" title="Rehabs in Nevada"> Nevada </a> </li>
                    <li> <a href="/new-hampshire" title="Rehabs in New Hampshire"> New Hampshire </a> </li>
                    <li> <a href="/new-jersey" title="Rehabs in New Jersey"> New Jersey </a> </li>
                    <li> <a href="/new-mexico" title="Rehabs in New Mexico"> New Mexico </a> </li>
                    <li> <a href="/new-york" title="Rehabs in New York"> New York </a> </li>
                    <li> <a href="/north-carolina" title="Rehabs in North Carolina"> North Carolina </a> </li>
                    <li> <a href="/north-dakota" title="Rehabs in North Dakota"> North Dakota </a> </li>
                    <li> <a href="/ohio" title="Rehabs in Ohio"> Ohio </a> </li>
                    <li> <a href="/oklahoma" title="Rehabs in Oklahoma"> Oklahoma </a> </li>
                    <li> <a href="/oregon" title="Rehabs in Oregon"> Oregon </a> </li>
                    <li> <a href="/pennsylvania" title="Rehabs in Pennsylvania"> Pennsylvania </a> </li>
                    <li> <a href="/puerto-rico" title="Rehabs in Puerto Rico"> Puerto Rico </a> </li>
                    <li> <a href="/rhode-island" title="Rehabs in Rhode Island"> Rhode Island </a> </li>
                    <li> <a href="/south-carolina" title="Rehabs in South Carolina"> South Carolina </a> </li>
                    <li> <a href="/south-dakota" title="Rehabs in South Dakota"> South Dakota </a> </li>
                    <li> <a href="/tennessee" title="Rehabs in Tennessee"> Tennessee </a> </li>
                    <li> <a href="/texas" title="Rehabs in Texas"> Texas </a> </li>
                    <li> <a href="/utah" title="Rehabs in Utah"> Utah </a> </li>
                    <li> <a href="/vermont" title="Rehabs in Vermont"> Vermont </a> </li>
                    <li> <a href="/virginia" title="Rehabs in Virginia"> Virginia </a> </li>
                    <li> <a href="/washington" title="Rehabs in Washington"> Washington </a> </li>
                    <li> <a href="/west-virginia" title="Rehabs in West Virginia"> West Virginia </a> </li>
                    <li> <a href="/wisconsin" title="Rehabs in Wisconsin"> Wisconsin </a> </li>
                    <li> <a href="/wyoming" title="Rehabs in Wyoming"> Wyoming </a> </li>
                </ul>
            </div>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="footer">
        <a href="#" class="title"><h2 class="link">{{ title }}</h2></a>
        <div class='links'>
            <a href="#" ><h2 class="link">About</h2></a>
            <a href="#" ><h2 class="link">Privacy Policy</h2></a>
            <a href="#" ><h2 class="link">Terms and Conditions</h2></a>
            <a href="#" ><h2 class="link">Contact</h2></a>
        </div>
        <div class="copyright">
            <span>&copy;2017. All Rights Reserved.</span>
            <span>11 Test Ave<br>Test, Test 10001</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>  
</html>
