<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Webfram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Paine">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <a href="#" ><h2 class="title">Webfram</h2></a>
    </div>
    <div class="body">
        <div class="section">
            <h2>Section 1</h2>
            <span>Span 1</span>
        </div>
        <div class="section">
            <h2>Section 2</h2>
            <span>Span 2</span>
        </div>
        <div class="section">
            <h2>Section 3</h2>
            <span>Span 3</span>
        </div>
    </div>
    <div class="footer">
        <a href="#" ><h2 class="title">Webfram</h2></a>
        <a href="#" ><h2 class="link">About</h2></a>
        <a href="#" ><h2 class="link">Contact</h2></a>
        <span>&copy;2017. All Rights Reserved.</span>
        <span>11 Test Ave<br>Test, Test 10001</span>
    </div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>  
</html>
