<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tim Paine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/{{ favicon }}">
    <link rel="apple-touch-icon-precomposed" href="/static/img/{{ favicon }}">
    <link rel="shortcut icon" href="/static/img/{{ favicon }}">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

   <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111184133-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111184133-1');
    </script>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   <!-- -->

    <!-- AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2835253448906005",
        enable_page_level_ads: true
      });
    </script>
    <!-- -->
    
</head>
<body>
    <div class="header">
        <img class="logo" src='/static/img/logo.svg'>
        <a href="#" ><h2 class="title">{{ name }}</h2></a>
        <img class="navicon" src='/static/img/navicon.svg' />
    </div>
    <div class="listings">
        <ul>
            {% for item in vals %}
            <li><div>
                <p>{{ item['name'] }}</p>
                <p>{{ item['address'] }}</p>
                <p>{{ item['state'] }}</p>
                <p>{{ item['zip'] }}</p>
                <p>{{ item['phone'] }}</p>
                <p>{{ item['email'] }}</p>
            </div></li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <a href="#" class="title"><h2 class="link">{{ name }}</h2></a>
        <div class='links'>
            <a href="#" ><h2 class="link">About</h2></a>
            <a href="#" ><h2 class="link">Privacy Policy</h2></a>
            <a href="#" ><h2 class="link">Terms and Conditions</h2></a>
            <a href="#" ><h2 class="link">Contact</h2></a>
        </div>
        <div class="copyright">
            <span>&copy;2017. All Rights Reserved.</span>
            <span>11 Test Ave<br>Test, Test 10001</span>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>  
</html>
